body,
option {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
  flex-grow: 0;
  padding: 0 20px;
  background-color: ghostwhite;
}

#content {
  overflow: hidden;
  flex-grow: 1;
  position: relative;
}

#scroll-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

select#collection {
  height: 34px;
}

option {
  padding: 2px;
}

div.sticky-header {
  position: sticky;
  top: 0;
  background-color: burlywood;
}

tbody tr {
  background-color: ghostwhite;
}

tr.dim {
  background-color: gainsboro;
}

th {
  width: 20%;
  padding: 3px;
}

tbody td {
  padding: 3px;
  border-bottom: #ddd 2px solid;
}

tbody tr.dim td {
  border-bottom-color: ghostwhite;
}

tfoot {
  height: 900px;
  background-color: ghostwhite;
}

tfoot td {
  border-top: darkgray 3px solid;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table.sticky thead {
  position: sticky;
  top: 34px;
  background-color: aquamarine;
}
