body {
  margin: 0;
}
body, option {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select#collection {
  height: 34px;
  margin-bottom: 22px;
}

option {
  padding: 2px;
}

div.sticky-header {
  position: sticky;
  top: 0;
  background-color: burlywood;
}

tr.highlight {
  background-color: gold;
}

tr.nohighlight {
  background-color: gainsboro;
}

th {
  width: 20%;
  padding: 3px;
}

tbody td {
  padding: 3px;
  border-bottom: #ddd 2px solid;
}

tfoot {
  height: 900px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table.sticky {
  width: 100%;
}

table.sticky thead {
  position: sticky;
  top: 56px;
  background-color: aquamarine;
}
